<%- include('../partials/header') %>

<h1>Add forEach statement showing all days</h1>

<h3>Embed form to create new day</h3>

<h3>Add link to edit each day that goes to the /days/show page</h3>

<a href="/activities/new"	<%- title === 'Add Activity' ? 'class="active"' : '' %>>Add Activity</a>

<%- include('../partials/footer') %>